*{
  margin: 0%;
  padding: 0%;
 
    
}
/* .roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
} */
 html{
  font-size: 62.5%;
 }
.f-nav{
display: flex;
justify-content: center;
justify-content: space-around;
background-color: rgb(252, 155, 171);
padding: 1.8rem;
}
.f-nav p{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}
.feature{
  display: flex;
}
.feature .app{
  display: flex;
  margin-inline: 2.2rem;
}
.feature .app i{
  margin-inline: 0.8rem;
  font-size: 1.4rem;
}
.sec-nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 1.1rem;
}
.sec-nav ul li img{
width: 8%;
margin-left: 2.2rem;
}
.sec-nav ul li a{
  margin-inline: 2.2rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.sec-nav ul li{
  list-style: none;
}
.sec-nav .inputs{
  display: flex;
}
.sec-nav .inputs button{
  margin-inline: 2.2rem;
}
.sec-nav .inputs input{
  width: 22rem;
  background-color: rgb(205, 197, 197);
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
}
.sec-nav .inputs button{
  width: 8rem;
  height: 3.5rem;
  background-color: rgb(249, 61, 92);
  color: white;
  font-size: 1.7rem;
  border: none;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.items{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: .5rem;
}
.items ul li a{
  
  margin-inline: 1.6rem;
  font-size: 1.4rem;
  text-align: center;
}
.items ul li button{
  width: 10rem;
  height: 3.4rem;
  background-color: rgb(249, 61, 92);
  color: white;
  font-size: 1.7rem;
  border: none;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.items ul li{
  list-style: none;
}
.main-img img{
  width:100%;
  
}
.pink img{
  width: 100%;
}
.pink h2{
  text-align: center;
  padding: .7rem;
  font-size: 2rem;
}

.card{
  display: flex;
  justify-content:center;
  justify-content: space-around;
  margin-top: 3.3rem;
}
.card img{
  margin-inline: 2.2rem;
  width: 44%;
  
}
.brand h2{
  text-align: center;
  padding: 2.2rem;
  font-size: 2rem;
}
.topbrand{
  display: flex;
}
.topbrand img{
  margin-inline: 2.2rem;
  width: 44%;
  margin: auto;
  
}
.onlynykaa h2{
  text-align: center;
  padding: 2.2rem;
  font-size: 2rem;
}
.only{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.only img{
  margin-inline: 2.2rem;
  width: 44%;
}
.makeup{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 2.2rem;
}
.makeup img{
  margin-inline: 1.8rem;
  width: 22%;
}
.special h2{
  text-align: center;
  padding: 2.2rem;
  font-size: 2rem;
}
.special .curation{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* padding: 22rem; */
}
.curation img{
  margin-inline: 2.2rem;
  width: 44%;
}
.beauty h2{
  text-align: center;
  padding: 2.2rem;
  font-size: 2rem;
}
.beauty .advice{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.advice img{
  margin-inline: 2.2rem;
  width: 44%;
}
.footer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(152, 147, 147);
  /* padding: 15rem; */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
/* .footer .list{
 flex-direction: column;
} */
.footer .list{
  flex-direction: column;
  padding: 2rem;
  
}
.footer .list ul li{
  list-style: none;
}
.footer .list ul li a{
  font-weight: 600;
  font-size: 1.3rem;
  padding: 2rem;
}
.footer .list ul li h2{
  font-size: 2rem;
  font-size: 1.8rem;
  padding: 2rem;
}
@media (max-width:998px) {
  html{
      font-size:52%;
  }
}
@media (max-width:768px){
  html{
      font-size:42%;
  }
}
@media (max-width:479px){
  html{
      font-size:29%;
  }
}
